
source/server/*/bin/
source/server/*/obj/
source/server/packages/
server/*.suo
source/server/buildreports/

source/server/test-results.xml
*.user
source/server/bin/
nunit-result.xml
*.swp
source/server/coverage
buildreports
source/server/.vs/config/applicationhost.config
source/server/OpenCover/

source/server/.vs/Nologo/config/applicationhost.config

source/server/.vs/Nologo/v16/.suo

source/server/Nologo.Persistence/ApplicationDbContext.dgml

source/server/.vs/Nologo/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest

source/server/Nologo.Domain.Tests/Auth/.editorconfig

source/server/Nologo/wwwroot/*
