<div class="viewer-wrapper">
    <div class="viewer-title mat-elevation-z2">
        <div class="viewer-title-spacer">
            <h3>{{formTitle}} Recipe</h3>
        </div>
    </div>
    <div class="viewer-body">
        <div class="left-div">
            <mat-card class="mat-elevation-z2">
                <mat-card-content>
                    <form enctype="multipart/form-data" [formGroup]="recipeForm" (ngSubmit)="saveRecipeData()">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Name" formControlName="name" required>
                            <mat-error *ngIf="name.touched && name.invalid">Name is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="Ingredient selection" formControlName="ingredients">
                                <mat-chip *ngFor="let ingredient of ingredients" [selectable]="selectable"
                                    [removable]="removable" (removed)="remove(ingredient)">
                                    {{ingredient.name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="add ingredients..." [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-error *ngIf="ingredients.touched && ingredients.invalid">Ingredients are required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <textarea matInput placeholder="Instructions" formControlName="instructions"
                                cdkTextareaAutosize cdkAutosizeMinRows="6" required>
                            </textarea>
                            <mat-error *ngIf="instructions.touched && instructions.invalid">Instructions are required
                            </mat-error>
                        </mat-form-field>

                        <mat-card-actions align="right">
                            <div fxFlex></div>
                            <button type="submit" mat-raised-button color="primary">SAVE</button>
                            <button type="button" mat-raised-button color="warn" (click)="cancel()">CANCEL</button>
                        </mat-card-actions>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="right-div">
            <div class="viewer-title">
                <h6>Upload Image</h6>
            </div>
            <mat-card class="mat-elevation-z2">
                <mat-card-content class="image-card">
                    <img class="preview-image" mat-card-image src={{recipeImagePath}} alt="No image available">
                </mat-card-content>
                <mat-card-content>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-md-6">
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                                style="display:none;">
                            <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>