<mat-toolbar color="primary" class="docs-navbar-header mat-elevation-z2">
  <mat-toolbar-row>
      <button mat-button [routerLink]='["/"]'>
          <mat-icon>recipe</mat-icon> Recipe Book
      </button>
      <span class="spacer"></span>
      <button mat-icon-button [routerLinkActive]='["link-active"]' [routerLink]='["/"]'>
      </button>
      <button mat-button *ngIf="!userData.isLoggedIn" [routerLinkActive]='["link-active"]'
          [routerLink]='["/login"]'>Login</button>
      <button mat-button *ngIf="userData.role==userType.admin" [routerLink]='["/admin/recipes"]'>Admin
          Panel</button>

      <ng-container *ngIf="userData.isLoggedIn">
          <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>account_circle</mat-icon> {{userData.email}} <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
              <button mat-menu-item (click)=logout()>Logout</button>
          </mat-menu>
      </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
